<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>DTPlatformVersion</key>
    <string>9.3</string>
    <key>DTSDKName</key>
    <string>iphoneos9.3</string>
    <key>CFBundleName</key>
    <string>DuiTang</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>
    <key>Application Internal Name</key>
    <string>gandalf</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon57x57</string>
          <string>AppIcon60x60</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
      </dict>
    </dict>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>堆糖</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>alipayauth</string>
      <string>alipay</string>
      <string>mqqopensdkapiV3</string>
      <string>mqqapi</string>
      <string>mqq</string>
      <string>mqqOpensdkSSoLogin</string>
      <string>mqzone</string>
      <string>mqqopensdkapiV2</string>
      <string>mqqapiwallet</string>
      <string>mqqwpa</string>
      <string>mqqbrowser</string>
      <string>wtloginmqq2</string>
      <string>wechat</string>
      <string>weixin</string>
      <string>sinaweibo</string>
      <string>sinaweibohd</string>
      <string>sinaweibosso</string>
      <string>weibosdk</string>
      <string>weibosdk2.5</string>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>以便准确定位您的收件地址</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>audio</string>
      <string>fetch</string>
      <string>remote-notification</string>
    </array>
    <key>DTSDKBuild</key>
    <string>13E230</string>
    <key>CFBundleShortVersionString</key>
    <string>6.2.2</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>NSLocationAlwaysUsageDescription</key>
    <string></string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>15F34</string>
    <key>Git Commit ID</key>
    <string>5d93ea8</string>
    <key>MinimumOSVersion</key>
    <string>7.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en_US</string>
    <key>UIAppFonts</key>
    <array>
      <string>iconfont.ttf</string>
      <string>icomoon.ttf</string>
      <string>LcdD Regular.ttf</string>
      <string>XinGothic-DT-W7.otf</string>
    </array>
    <key>CFBundleVersion</key>
    <string>164216</string>
    <key>DTXcodeBuild</key>
    <string>7D1014</string>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>UIPrerenderedIcon</key>
    <true/>
    <key>UILaunchImages</key>
    <array>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{414, 736}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-Portrait-736h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{375, 667}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-667h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 480}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 568}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-568h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
    </array>
    <key>DTPlatformBuild</key>
    <string>13E230</string>
    <key>UILaunchStoryboardName</key>
    <string>Launch Screen</string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
    </array>
    <key>Fabric</key>
    <dict>
      <key>Kits</key>
      <array>
        <dict>
          <key>KitName</key>
          <string>Crashlytics</string>
          <key>KitInfo</key>
          <dict/>
        </dict>
      </array>
      <key>APIKey</key>
      <string>f78ad2691c046a1a552f8df3b80f326e22be1d00</string>
    </dict>
    <key>CFBundleIdentifier</key>
    <string>com.duitang.DuiTangMain</string>
    <key>CFBundleIconFiles</key>
    <array/>
    <key>DTXcode</key>
    <string>0731</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>CFBundleExecutable</key>
    <string>DuiTang</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon57x57</string>
          <string>AppIcon60x60</string>
          <string>AppIcon50x50</string>
          <string>AppIcon72x72</string>
          <string>AppIcon76x76</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
      </dict>
    </dict>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>Application Internal Code</key>
    <string>gandalf</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>Appstore AppID</key>
    <string>533415763</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>weixin</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wx0ea7a86743e8aa47</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleURLIconFile</key>
        <string>icon</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>duitang</string>
        </array>
        <key>CFBundleURLName</key>
        <string>duitang</string>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>tencentopenapi</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>tencent206120</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.weibo</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wb1152390549</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.duitang.DuiTangMain</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>tbopen23106413</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.duitang.duitangalipay</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>duitangalipay</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.duitang.DuiTangMain</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>jdac12d093f4f0af085</string>
        </array>
      </dict>
    </array>
  </dict>
</plist>
