<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>demo</key>
	<dict>
		<key>dependOn</key>
		<string></string>
		<key>pluginAdapterName</key>
		<string>TaeDemoPluginAdapter</string>
	</dict>
	<key>trade</key>
	<dict>
		<key>dependOn</key>
		<string></string>
		<key>pluginAdapterName</key>
		<string>ALBBTradeSDKPluginAdapter</string>
	</dict>
	<key>media</key>
	<dict>
		<key>dependOn</key>
		<string></string>
		<key>pluginAdapterName</key>
		<string>ALBBMediaServicePluginAdapter</string>
	</dict>
	<key>openim</key>
	<dict>
		<key>dependOn</key>
		<string></string>
		<key>pluginAdapterName</key>
		<string>TaeWXSDKForFreePluginAdapter</string>
	</dict>
	<key>openaccount</key>
	<dict>
		<key>dependOn</key>
		<string></string>
		<key>pluginAdapterName</key>
		<string>ALBBOpenAccountPluginAdapter</string>
	</dict>
	<key>mas</key>
	<dict>
		<key>pluginAdapterName</key>
		<string>ALBBMASPluginAdapter</string>
	</dict>
	<key>oss</key>
	<dict>
		<key>dependOn</key>
		<string></string>
		<key>pluginAdapterName</key>
		<string>ALBBOSSPluginAdapter</string>
	</dict>
	<key>opentrade</key>
	<dict>
		<key>dependOn</key>
		<string></string>
		<key>pluginAdapterName</key>
		<string>ALBBOpenTradePluginAdapter</string>
	</dict>
	<key>globaltrade</key>
	<dict>
		<key>dependOn</key>
		<string></string>
		<key>pluginAdapterName</key>
		<string>ALBBGlobalTradeSDKPluginAdapter</string>
	</dict>
	<key>mmusdk</key>
	<dict>
		<key>dependOn</key>
		<string></string>
		<key>pluginAdapterName</key>
		<string>MMUSDKPluginAdapter</string>
	</dict>
</dict>
</plist>
